body {
    background: linear-gradient(to top, #070914, #180718);
    background-size:cover;
    background-attachment: fixed;
}

.bg-custom {
  background-color: #070914;
 }

 .bg-user {
  background-color: rgb(27, 31, 53);
 }

.sidebar {
  width: 240px;
  background-color: #f1f1f1;
  position:fixed;
  height: 100%;
  background-color: #070914;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
  
}

.sidebar a:hover {
  background-color: #121420;
  color: white;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
