
{% macro navbar(pseudonyme) %}

  <nav class="navbar bg-custom pt-1 pb-1 sticky-top">
    <div class="container-fluid ps-3">
      <a class="navbar-brand text-white fs-3" href="/">
          <img src="../static/asserts/logo.png" width="75" height="72" class="pb-2">
          <span style="font-family: Product Sans; font-weight: bold;">The Wave</span>
      </a>

      <form class="form-inline mx-auto col-4" role="search" style="margin-left:12%;" method="get" action="/recherche">
        <div class="input-group">
          <input class="form-control searc text-white bg-transparent" type="search" placeholder="Search" aria-label="Search" name="mot">
          <button class="btn border border-white text-white" type="submit" style="background-color: #222329;">
            <svg style="height:1em;" viewBox="0 0 12 13"><g stroke-width="2" stroke="#ffffff" fill="none"><path d="M11.29 11.71l-4-4"/><circle cx="5" cy="5" r="4"/></g></svg>
          </button>
        </div>
      </form>

      <div class="bg-user me-3 pe-3 rounded-pill">
        <a class="text-white fs-4" href="/userprofile" style="text-decoration:none">
          <img src="../static/asserts/man.png" width="50" height="50">
          <span>{{ pseudonyme }}</span>
        </a>
      </div>

      <form action="/deconnecter" method="get">
        <input class="btn bg-transparrent text-white border-white" type="submit" value="Déconnecter">
      </form>

    </div>
  </nav>

{% endmacro %}


{% macro sidebar() %}
  <!--Sidebar-->
  <div class="sidebar">
    <div class="py-4"></div>
    <a class="fs-3" href="/userdashboard">
      <img src="../static/asserts/accueil.svg" class="pb-2">
      <span class="ps-3">Accueil</span>
    </a>

    <a class="fs-3" href="/explorer">
      <img src="../static/asserts/explorer.svg" class="pb-2">
      <span class="ps-3">Explorer</span>
    </a>

    <a class="fs-3" href="/playlist">
      <img src="../static/asserts/playlist.svg" class="pb-2">
      <span class="ps-3">Playlist</span>
    </a>

    <a class="fs-4" href="/historique">
      <img src="../static/asserts/historique.svg" class="pb-2" width="50">
      <span class="">Historique</span>
    </a>
  </div>

{% endmacro %}
  <!--Les styles sont contenu dans fichier /statics/css/bars.css-->
