<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerer Playlist</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="../static/css/bars.css">

</head>
<body>
  
  {{ navbar(pseudonyme) }}
  {{ sidebar() }}

  <div class="container text-white">

    <form action="" id="playlist">
      <div class="mb-3 mt-5 col-5">
        <input type="text" class="form-control fs-1 text-white bg-transparent border-0" id="eFormControlInput1" name = "titre" value="My Playlist">
      </div>

      <div class="mb-3 col-2">
        <select class="form-select" name="estpublique">
          <option value="prive" selected>Privé</option>
          <option value="publique">Publique</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="FormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" name="description" id="FormControlTextarea1" rows="3" form="playlist">

        </textarea>
      </div>

      <div class="mb-3 col-1">
        <input type="submit" class="form-control" value="Enregister">
      </div>
    </form>

  </div>

  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>

